@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --main-color: #8f2020;
  --main-color-light: rgba(143, 32, 32, 0.75);
  --accent-color: #e4ab17;
  --black: #333333;
  --grey: #595959;
  --white: #f9f9f9;
  --dark: #111111;
  --dark-overlay: rgba(17, 17, 17, 0.8);
}
@media (max-width: 430px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
      "Noto Sans KR", "Malgun Gothic", sans-serif;
    letter-spacing: -0.011rem;
  }
  body {
    background-color: var(--white);
  }
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    width: 26.875rem;
    height: 21.5625rem;
    margin-bottom: 1.875rem;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .headbar {
    width: 18.3125rem;
    height: 3.75rem;
  }
  .logo {
    background-image: url(./이미지/Let’s\ Travel.svg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem;
    height: 1.1875rem;
    margin: 1.875rem 0.625rem 0.625rem 0.625rem;
  }
  .subbar {
    background-color: var(--white);
    width: 7.625rem;
    height: 1.25rem;
  }
  .subbar ul {
    width: 7.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 9rem;
  }
  .subbar a {
    display: block;
    padding: 0.375rem 0rem 0.375rem 0.625rem;
    color: var(--black);
    text-decoration: none;
    font-size: 0.4375rem;
    font-weight: 400;
  }
  .navbar {
    background-color: var(--main-color);
    width: 18.3125rem;
    height: 2.5rem;
    border-top-left-radius: 0.625rem;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar a {
    display: block;
    padding: 0.9063rem 0.75rem;
    color: var(--white);
    font-size: 0.5625rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
  }
  .navbar a:hover {
    background-color: var(--accent-color);
  }
  .heroimage {
    width: 26.875rem;
    height: 17.8125rem;
    background-image: url(./이미지/메인배너\ 서울불꽃축제.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
  }
  .heroimage h1 {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    color: var(--white);
    position: relative;
    top: 6.3125rem;
    text-shadow: 0rem 0.25rem 0.25rem var(--dark);
  }
  .heroimage h1:nth-child(2) {
    display: none;
  }
  .heroimage p {
    font-size: 0.9375rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    position: relative;
    top: 7.5625rem;
    text-shadow: 0rem 0.25rem 0.25rem var(--dark);
  }
  .conA {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
  }
  .conA h2 {
    color: var(--black);
    font-size: 1.3125rem;
    font-weight: 500;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    color: var(--black);
    margin-bottom: 1.875rem;
  }
  .conA h2::before {
    content: "";
    flex-grow: 1;
    background: var(--black);
    height: 0.125rem;
    font-size: 0rem;
    line-height: 0rem;
    margin-right: 1.25rem;
  }
  .conA h2::after {
    content: "";
    flex-grow: 1;
    background: var(--black);
    height: 0.125rem;
    font-size: 0rem;
    line-height: 0rem;
    margin-left: 0.75rem;
  }
  .conA .containerA {
    width: 22.5625rem;
    height: 15.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.9375rem;
  }
  .conA .containerA .photo1 {
    background-image: url(./이미지/남산타워.webp);
    width: 22.5625rem;
    height: 7.5625rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.625rem;
  }
  .conA .containerA .photo2 {
    background-image: url(./이미지/인사동.jpg);
    width: 22.5625rem;
    height: 7.5625rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.625rem;
  }
  .conA .containerA .photo3 {
    background-image: url(./이미지/디디피.jpg);
    width: 22.5625rem;
    height: 7.5625rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.625rem;
  }
  .conA .containerA .photo4 {
    background-image: url(./이미지/북촌스카이웨이.jpg);
    width: 22.5625rem;
    height: 7.5625rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.625rem;
  }
  .conA .containerA .text {
    padding-left: 10px;
  }
  .conA .containerA .text h3:nth-child(1) {
    color: var(--main-color);
    font-size: 0.6875rem;
    font-family: 600;
  }
  .conA .containerA .text h3:nth-child(2) {
    color: var(--main-color-light);
    font-size: 0.5625rem;
    font-weight: 500;
    margin-top: 0.3125rem;
  }
  .conA .containerA .text p {
    color: var(--grey);
    font-size: 0.5rem;
    line-height: 0.75rem;
    margin-top: 0.625rem;
    margin-bottom: 0.3125rem;
  }
  .conB {
    display: none;
  }
  .conC {
    display: none;
  }
   footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footbar {
    background-color: var(--main-color);
    width: 24.5625rem;
    height: 3.75rem;
    padding: 0.6563rem 3.2188rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5625rem;
  }
  .footbar .foot {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    color: var(--white);
    font-size: 0.4375rem;
  }
  .footbar .foot b {
    font-weight: 500;
  }
  .footbar .foot a {
    text-decoration: none;
    font-size: 0.375rem;
    font-weight: 300;
    color: var(--white);
  }
  .footbar .foot p {
    font-size: 0.375rem;
    font-weight: 500;
    color: var(--white);
  }
  .footbar .foot h4 {
    display: none;
  }
  .footbar .foot .footnav {
    display: none;
  }
}

@media (min-width: 431px) {
  * {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
      "Noto Sans KR", "Malgun Gothic", sans-serif;
    letter-spacing: -0.011rem;
  }
  body {
    background-color: var(--white);
  }
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  header {
    height: 47.8125rem;
    margin-bottom: 7.5rem;
  }
  .title {
    display: flex;
    width: 75rem;
    margin: auto;
  }
  .title .logo {
    width: 17.626rem;
    height: 5.625rem;
    padding: 1.6875rem 1.25rem 0.3125rem 1.25rem;
    background-image: url(./이미지/Let’s\ Travel.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .headbar {
    width: 57.375rem;
    height: 3.75rem;
  }
  .subbar {
    background-color: var(--white);
    width: 57.375rem;
    height: 1.875rem;
  }
  .subbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .subbar a {
    display: block;
    padding: 0.5313rem 0.625rem;
    color: var(--black);
    text-decoration: none;
    font-size: 0.6875rem;
    font-weight: 400;
  }
  .navbar {
    background-color: var(--main-color);
    width: 57.375rem;
    height: 3.75rem;
    border-top-right-radius: 1.5625rem;
    border-top-left-radius: 1.5625rem;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  .navbar a {
    display: block;
    padding: 1.2813rem 3.125rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: var(--accent-color);
  }
  .heroimage {
    background-image: url(./이미지/메인배너\ 북촌스카이웨이.jpg);
    width: 100%;
    min-width: 75rem;
    height: 42.1875rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
  }
  .heroimage .subtitle {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: absolute;
    top: 15rem;
    left: 55vw;
    text-align: right;
  }
  .heroimage .subtitle h1:nth-child(1) {
    color: var(--white);
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0rem 0.25rem 0.25rem var(--dark);
  }
  .heroimage .subtitle h1:nth-child(2) {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0rem 0.25rem 0.25rem var(--dark);
  }
  .heroimage .subtitle p {
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 500;
    text-shadow: 0rem 0.25rem 0.25rem var(--dark);
  }
  .conA {
    width: 75rem;
    margin: auto;
    margin-bottom: 7.5rem;
  }
  .conA h2 {
    color: var(--black);
    font-size: 2.25rem;
    font-weight: 600;
    padding-bottom: 1.875rem;
    border-bottom: 0.1875rem solid var(--black);
  }
  .conA .containerA {
    width: 75rem;
    height: 18.75rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
  }
  .conA .containerA .photo1 {
    background-image: url(./이미지/남산타워.webp);
    width: 30.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 1.5625rem;
  }
  .conA .containerA .photo2 {
    background-image: url(./이미지/인사동.jpg);
    width: 30.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 1.5625rem;
  }
  .conA .containerA .photo3 {
    background-image: url(./이미지/디디피.jpg);
    width: 30.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 1.5625rem;
  }
  .conA .containerA .photo4 {
    background-image: url(./이미지/북촌스카이웨이.jpg);
    width: 30.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 1.5625rem;
  }
  .conA .containerA .text {
    padding-top: 6.5625rem;
  }
  .conA .containerA .text h3:nth-child(1) {
    color: var(--main-color);
    font-size: 1.75rem;
    font-family: 700;
  }
  .conA .containerA .text h3:nth-child(2) {
    color: var(--main-color-light);
    font-size: 1.3125rem;
    font-weight: 500;
    margin-top: 0.625rem;
  }
  .conA .containerA .text p {
    color: var(--grey);
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 0.9375rem;
  }
  .conB {
    width: 75rem;
    margin: auto;
    margin-bottom: 7.5rem;
  }
  .conB h2 {
    color: var(--black);
    font-size: 2.25rem;
    font-weight: 600;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: var(--black);
  }
  .conB h2::after {
    content: "";
    flex-grow: 1;
    background: var(--black);
    height: 0.1875rem;
    font-size: 0rem;
    line-height: 0rem;
    margin-left: 3.125rem;
  }
  .conB .containerB {
    width: 75rem;
    height: 21.875rem;
    margin-top: 3.75rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }
  .conB .containerB .textbox {
    background-color: var(--dark-overlay);
    color: var(--white);
    position: absolute;
    top: 16.875rem;
    width: 16.875rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
  }
  .conB h3 {
    font-size: 1rem;
    font-weight: 500;
  }
  .conB p {
    margin-top: 9px;
    font-size: 0.75rem;
    font-weight: 300;
  }
  .conB .containerB .item1 {
    background-image: url(./이미지/3박4일서울.jpg);
    width: 16.875rem;
    height: 21.875rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conB .containerB .item2 {
    background-image: url(./이미지/음악여행.jpg);
    width: 16.875rem;
    height: 21.875rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conB .containerB .item3 {
    background-image: url(./이미지/서울등산코스1.jpg);
    width: 16.875rem;
    height: 21.875rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conB .containerB .item4 {
    background-image: url(./이미지/복고\ 클래식.jpg);
    width: 16.875rem;
    height: 21.875rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conC {
    width: 75rem;
    margin: auto;
    margin-bottom: 12.5rem;
  }
  .conC h2 {
    color: var(--black);
    font-size: 2.25rem;
    font-weight: 600;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    color: var(--black);
  }
  .conC h2::before {
    content: "";
    flex-grow: 1;
    background: var(--black);
    height: 0.1875rem;
    font-size: 0rem;
    line-height: 0rem;
    margin-right: 3.125rem;
  }
  .conC h2::after {
    content: "";
    flex-grow: 1;
    background: var(--black);
    height: 0.1875rem;
    font-size: 0rem;
    line-height: 0rem;
    margin-left: 3.125rem;
  }
  .conC .containerC {
    width: 75rem;
    height: 58.125rem;
    margin-top: 3.75rem;
    display: grid;
    grid-template-rows: repeat(3, 18.75rem);
    grid-template-columns: repeat(3, 24.375rem);
    gap: 0.9375rem;
    justify-content: center;
    align-content: center;
  }
  .conC .containerC .item1 {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 24.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conC .containerC .item1:hover {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 75rem;
    height: 58.125rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  .conC .containerC .textbox {
    opacity: 0;
  }
  .conC .containerC .item1:hover .textbox {
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.8);
    width: 75rem;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1.25rem;
    position: absolute;
    top: 42.875rem;
    left: 0;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    transition: all 1s ease-in-out;
  }
  .conC .containerC .textbox h3 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
  }
  .conC .containerC .textbox h3:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
  }
  .conC .containerC .textbox p {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--white);
  }
  .conC .containerC .item2 {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 24.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conC .containerC .item2:hover {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 75rem;
    height: 58.125rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: -25.3125rem;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  .conC .containerC .item2:hover .textbox {
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.8);
    width: 75rem;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1.25rem;
    position: absolute;
    top: 42.875rem;
    left: 0;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    transition: all 1s ease-in-out;
  }
  .conC .containerC .item3 {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 24.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conC .containerC .item3:hover {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 75rem;
    height: 58.125rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: -51.875rem;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  .conC .containerC .item3:hover .textbox {
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.8);
    width: 75rem;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1.25rem;
    position: absolute;
    top: 42.875rem;
    left: 0;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    transition: all 1s ease-in-out;
  }
  .conC .containerC .item4 {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 24.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conC .containerC .item4:hover {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 75rem;
    height: 58.125rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: -19.6875rem;
    left: 0;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  .conC .containerC .item4:hover .textbox {
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.8);
    width: 75rem;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1.25rem;
    position: absolute;
    top: 42.875rem;
    left: 0;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    transition: all 1s ease-in-out;
  }
  .conC .containerC .item5 {
    background-image: url(./이미지/낭만\ 등불축제.jpg);
    width: 24.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conC .containerC .item5:hover {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 75rem;
    height: 58.125rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: -19.6875rem;
    left: -25.3125rem;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  .conC .containerC .item5:hover .textbox {
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.8);
    width: 75rem;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1.25rem;
    position: absolute;
    top: 42.875rem;
    left: 0;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    transition: all 1s ease-in-out;
  }
  .conC .containerC .item6 {
    background-image: url(./이미지/낭만\ 등불축제.jpg);
    width: 24.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conC .containerC .item6:hover {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 75rem;
    height: 58.125rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: -19.6875rem;
    left: -50.625rem;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  .conC .containerC .item6:hover .textbox {
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.8);
    width: 75rem;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1.25rem;
    position: absolute;
    top: 42.875rem;
    left: 0;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    transition: all 1s ease-in-out;
  }
  .conC .containerC .item7 {
    background-image: url(./이미지/낭만\ 등불축제.jpg);
    width: 24.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conC .containerC .item7:hover {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 75rem;
    height: 58.125rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: -39.375rem;
    left: 0;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  .conC .containerC .item7:hover .textbox {
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.8);
    width: 75rem;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1.25rem;
    position: absolute;
    top: 42.875rem;
    left: 0;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    transition: all 1s ease-in-out;
  }
  .conC .containerC .item8 {
    background-image: url(./이미지/낭만\ 등불축제.jpg);
    width: 24.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conC .containerC .item8:hover {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 75rem;
    height: 58.125rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: -39.375rem;
    left: -25.3125rem;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  .conC .containerC .item8:hover .textbox {
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.8);
    width: 75rem;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1.25rem;
    position: absolute;
    top: 42.875rem;
    left: 0;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    transition: all 1s ease-in-out;
  }
  .conC .containerC .item9 {
    background-image: url(./이미지/낭만\ 등불축제.jpg);
    width: 24.375rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conC .containerC .item9:hover {
    background-image: url(./이미지/새빛둥둥섬.jpg);
    width: 75rem;
    height: 58.125rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    position: relative;
    top: -39.375rem;
    left: -50.625rem;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  .conC .containerC .item9:hover .textbox {
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.8);
    width: 75rem;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1.25rem;
    position: absolute;
    top: 42.875rem;
    left: 0;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    transition: all 1s ease-in-out;
  }
  .footbar {
    width: 75rem;
    height: 17.125rem;
    background-color: var(--main-color);
    margin-left: auto;
    margin-right: auto;
    padding: 3.125rem 9.375rem;
    border-top-right-radius: 3.125rem;
    border-top-left-radius: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5625rem;
  }
  .footbar .foot {
    display: flex;
    flex-direction: row;
    gap: 1.5625rem;
    color: var(--white);
    font-size: 1rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .footbar .foot b {
    font-weight: 500;
  }
  .footbar .foot a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
  }
  .footbar .foot h4 {
    font-size: 0.9375rem;
    font-weight: 500;
    background-color: var(--accent-color);
    padding: 0.75rem 2.625rem 0.75rem 1.25rem;
    border-bottom-left-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
  }
  .footbar .foot .footnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.125rem;
    color: var(--black);
    background-color: var(--white);
    border-radius: 1.25rem;
    padding: 0.75rem 3.5625rem 0.75rem 3.625rem;
    position: absolute;
    left: 10.1875rem;
  }
  .footbar .foot .footnav p {
    font-size: 0.9375rem;
    font-weight: 500;
  }
}
