@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --main-color: #8f2020;
  --main-color-light: rgba(143, 32, 32, 0.75);
  --accent-color: #e4ab17;
  --black: #333333;
  --grey: #595959;
  --white: #f9f9f9;
  --dark: #111111;
  --dark-overlay: rgba(17, 17, 17, 0.8);
  --ocean: #2586df;
  --forest: #1fbf4c;
  --histroy: #bd713a;
}
@media (max-width: 430px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
      "Noto Sans KR", "Malgun Gothic", sans-serif;
    letter-spacing: -0.011rem;
  }

  body {
    background-color: var(--white);
  }
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    width: 26.875rem;
    height: 21.5625rem;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .headbar {
    width: 18.3125rem;
    height: 3.75rem;
  }
  .logo {
    background-image: url(./이미지/Let’s\ Travel.svg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem;
    height: 1.1875rem;
    margin: 1.875rem 0.625rem 0.625rem 0.625rem;
  }
  .subbar {
    background-color: var(--white);
    width: 7.625rem;
    height: 1.25rem;
  }
  .subbar ul {
    width: 7.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 9rem;
  }
  .subbar a {
    display: block;
    padding: 0.375rem 0rem 0.375rem 0.625rem;
    color: var(--black);
    text-decoration: none;
    font-size: 0.4375rem;
    font-weight: 400;
  }
  .navbar {
    background-color: var(--main-color);
    width: 18.3125rem;
    height: 2.5rem;
    border-top-left-radius: 0.625rem;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar a {
    display: block;
    padding: 0.9063rem 0.75rem;
    color: var(--white);
    font-size: 0.5625rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
  }
  .navbar a:hover {
    background-color: var(--accent-color);
  }
  .heroimage {
    width: 100%;
    height: 17.8125rem;
    background-image: url(./이미지/메인페이지\ 메인이미지.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .heroimage h1 {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    color: var(--white);
    position: relative;
    top: 6.3125rem;
  }
  .heroimage h2 {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    position: relative;
    top: 7.5625rem;
  }
  .heroimage form {
    display: none;
  }
  .heroimage div {
    display: none;
  }
  .conA {
    margin: auto;
    width: 100vw;
    margin-bottom: 3.75rem;
  }
  .conA .containerA {
    width: 100vw;
    height: 15.9375rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conA .containerB {
    width: 100vw;
    height: 15.9375rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conA .containerC {
    width: 100vw;
    height: 15.9375rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conA .containerD {
    width: 100vw;
    height: 15.9375rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .conA img {
    width: 26.875rem;
    height: 15.9375rem;
    filter: brightness(50%);
  }
  .conA .containerA .textbox {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.3125rem;
    text-align: end;
    position: absolute;
    top: 6.875rem;
    left: 47%;
    z-index: 100;
  }
  .conA .containerA .textbox h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--accent-color);
  }
  .conA .containerB .textbox {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3125rem;
    text-align: start;
    position: absolute;
    top: 6.875rem;
    left: 13%;
    z-index: 100;
  }
  .conA .containerB .textbox h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--ocean);
  }
  .conA .containerC .textbox {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.3125rem;
    text-align: end;
    position: absolute;
    top: 6.875rem;
    left: 47%;
    z-index: 100;
  }
  .conA .containerC .textbox h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--forest);
  }
  .conA .containerD .textbox {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3125rem;
    text-align: start;
    position: absolute;
    top: 6.875rem;
    left: 13%;
    z-index: 100;
  }
  .conA .containerD .textbox h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--histroy);
  }
  .conA .textbox h2 {
    font-size: 0.6875rem;
    font-weight: 300;
    line-height: 1.125rem;
    color: var(--white);
  }
  .conA .textbox h2 b {
    font-size: 0.8125rem;
    font-weight: 500;
  }
  .conA .textbox p {
    display: none;
  }
   footer {
    width: 26.875rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }
  .footbar {
    background-color: var(--main-color);
    width: 24.5625rem;
    height: 3.75rem;
    padding: 0.6563rem 3.2188rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5625rem;
  }
  .footbar .foot {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    color: var(--white);
    font-size: 0.4375rem;
  }
  .footbar .foot b {
    font-weight: 500;
  }
  .footbar .foot a {
    text-decoration: none;
    font-size: 0.375rem;
    font-weight: 300;
    color: var(--white);
  }
  .footbar .foot p {
    font-size: 0.375rem;
    font-weight: 500;
    color: var(--white);
  }
  .footbar .foot h4 {
    display: none;
  }
  .footbar .foot .footnav {
    display: none;
  }
}

@media (min-width: 431px) {
  * {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
      "Noto Sans KR", "Malgun Gothic", sans-serif;
    letter-spacing: -0.011rem;
  }
  body {
    background-color: var(--white);
  }
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  header {
    height: 47.8125rem;
    margin-bottom: 7.5rem;
  }
  .title {
    display: flex;
    margin: auto;
    width: 75rem;
  }
  .title .logo {
    width: 17.626rem;
    height: 5.625rem;
    padding: 1.6875rem 1.25rem 0.3125rem 1.25rem;
    background-image: url(./이미지/Let’s\ Travel.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .headbar {
    width: 57.375rem;
    height: 3.75rem;
  }
  .subbar {
    background-color: var(--white);
    width: 57.375rem;
    height: 1.875rem;
  }
  .subbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .subbar a {
    display: block;
    padding: 0.5313rem 0.625rem;
    color: var(--black);
    text-decoration: none;
    font-size: 0.6875rem;
    font-weight: 400;
  }
  .navbar {
    background-color: var(--main-color);
    width: 57.375rem;
    height: 3.75rem;
    border-top-right-radius: 1.5625rem;
    border-top-left-radius: 1.5625rem;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  .navbar a {
    display: block;
    padding: 1.2813rem 3.125rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: var(--accent-color);
  }
  .heroimage {
    background-image: url(./이미지/메인페이지\ 메인이미지.jpg);
    width: 75rem;
    height: 42.1875rem;
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
  }
  .heroimage h1 {
    visibility: hidden;
  }
  .heroimage h2 {
    visibility: hidden;
  }
  .heroimage .search {
    position: absolute;
    top: 16.5625rem;
    left: 12.5rem;
    width: 47.6875rem;
    height: 4.0625rem;
    border-radius: 0.625rem;
    border: 0.3125rem solid var(--black);
    display: flex;
  }
  .heroimage .search input {
    width: 43.625rem;
    height: 100%;
    color: var(--black);
    background-color: var(--white);
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    font-size: 1.3125rem;
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    border: 0;
    outline: none;
  }
  .heroimage .search input::placeholder {
    color: var(--black);
    font-weight: 500;
  }
  .heroimage .search button {
    width: 4.125rem;
    height: 100%;
    border: 0;
    background-color: var(--main-color);
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
  }
  .heroimage .search button:hover {
    background-color: var(--accent-color);
  }
  .heroimage .search button img {
    width: 1.5625rem;
    height: 1.5625rem;
    display: block;
    margin: auto;
  }
  .heroimage .recommend {
    width: 47.6875rem;
    height: 2.5rem;
    position: absolute;
    top: 22.5rem;
    left: 12.5rem;
  }
  .heroimage .recommend ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .heroimage .recommend ul li {
    border-radius: 3.125rem;
    border: 0.3125rem solid var(--black);
    background-color: var(--white);
  }
  .heroimage .recommend ul li a {
    color: var(--black);
    text-decoration: none;
    display: block;
    padding: 0.6875rem 1.875rem;
    font-size: 0.9375rem;
    font-weight: 500;
    border-radius: 3.125rem;
  }
  .heroimage .recommend ul li a:hover {
    background-color: var(--accent-color);
  }
  .heroimage .sidebar {
    width: 5.625rem;
    height: 17.1875rem;
    background-color: var(--main-color);
    position: absolute;
    top: 12.5rem;
    left: 69.375rem;
    border-top-left-radius: 1.5625rem;
    border-bottom-left-radius: 1.5625rem;
  }
  .heroimage .sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .heroimage .sidebar ul a {
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    font-family: 600;
    display: block;
    padding: 2.25rem 0.68rem;
    text-align: center;
  }
  .heroimage .sidebar ul li a:hover {
    background-color: var(--accent-color);
  }
  .heroimage .sidebar ul li:nth-child(1) a:hover {
    background-color: var(--accent-color);
    border-top-left-radius: 1.5625rem;
  }
  .heroimage .sidebar ul li:nth-child(3) a:hover {
    background-color: var(--accent-color);
    border-bottom-left-radius: 1.5625rem;
  }
  .heroimage .sidebar ul li:nth-child(1) {
    border-bottom: 0.125rem solid var(--white);
  }
  .heroimage .sidebar ul li:nth-child(3) {
    border-top: 0.125rem solid var(--white);
  }
  .conA {
    margin: auto;
    width: 75rem;
    margin-bottom: 12.5rem;
  }
  .conA .containerA {
    margin-bottom: 7.5rem;
    width: 75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  .conA .containerB {
    margin-bottom: 7.5rem;
    width: 75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  .conA .containerC {
    margin-bottom: 7.5rem;
    width: 75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  .conA .containerD {
    width: 75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  .conA img {
    width: 42.5rem;
    height: 28.125rem;
    border-radius: 3.125rem;
  }
  .conA .containerA .textbox {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.875rem;
    text-align: end;
  }
  .conA .containerA .textbox h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--accent-color);
  }
  .conA .containerB .textbox {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.875rem;
    text-align: start;
  }
  .conA .containerB .textbox h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--ocean);
  }
  .conA .containerC .textbox {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.875rem;
    text-align: end;
  }
  .conA .containerC .textbox h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--forest);
  }
  .conA .containerD .textbox {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.875rem;
    text-align: start;
  }
  .conA .containerD .textbox h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--histroy);
  }
  .conA .textbox h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    color: var(--black);
  }
  .conA .textbox h2 b {
    font-size: 1.75rem;
    font-weight: 700;
  }
  .conA .textbox p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--grey);
  }
  .footbar {
    width: 75rem;
    height: 17.125rem;
    background-color: var(--main-color);
    margin-left: auto;
    margin-right: auto;
    padding: 3.125rem 9.375rem;
    border-top-right-radius: 3.125rem;
    border-top-left-radius: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5625rem;
  }
  .footbar .foot {
    display: flex;
    flex-direction: row;
    gap: 1.5625rem;
    color: var(--white);
    font-size: 1rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .footbar .foot b {
    font-weight: 500;
  }
  .footbar .foot a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
  }
  .footbar .foot h4 {
    font-size: 0.9375rem;
    font-weight: 500;
    background-color: var(--accent-color);
    padding: 0.75rem 2.625rem 0.75rem 1.25rem;
    border-bottom-left-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
  }
  .footbar .foot .footnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.125rem;
    color: var(--black);
    background-color: var(--white);
    border-radius: 1.25rem;
    padding: 0.75rem 3.5625rem 0.75rem 3.625rem;
    position: absolute;
    left: 10.1875rem;
  }
  .footbar .foot .footnav p {
    font-size: 0.9375rem;
    font-weight: 500;
  }
}
