@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --main-color: #8f2020;
  --main-color-light: rgba(143, 32, 32, 0.75);
  --accent-color: #e4ab17;
  --black: #333333;
  --grey: #595959;
  --white: #f9f9f9;
  --dark: #111111;
  --dark-overlay: rgba(17, 17, 17, 0.8);
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  letter-spacing: -0.011rem;
}
body {
  background-color: var(--white);
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  height: 47.8125rem;
  margin-bottom: 7.5rem;
  margin-left: auto;
    margin-right: auto;
}
.title {
  display: flex;
  width: 75rem;
  margin: auto;
}
.title .logo {
  width: 17.626rem;
  height: 5.625rem;
  padding: 1.6875rem 1.25rem 0.3125rem 1.25rem;
  background-image: url(./이미지/Let’s\ Travel.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
}
.headbar {
  width: 57.375rem;
  height: 3.75rem;
}
.subbar {
  background-color: var(--white);
  width: 57.375rem;
  height: 1.875rem;
}
.subbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.subbar a {
  display: block;
  padding: 0.5313rem 0.625rem;
  color: var(--black);
  text-decoration: none;
  font-size: 0.6875rem;
  font-weight: 400;
}
.navbar {
  background-color: var(--main-color);
  width: 57.375rem;
  height: 3.75rem;
  border-top-right-radius: 1.5625rem;
  border-top-left-radius: 1.5625rem;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.navbar a {
  display: block;
  padding: 1.2813rem 3.125rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.navbar a:hover {
  background-color: var(--accent-color);
}
.heroimage {
  background-image: url(./이미지/롯데월드\ 배너\ 1.jpg);
  width: 100%;
  min-width: 75rem;
  height: 42.1875rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  top: 0;
  left: 0;
}
.conA {
  width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7.5rem;
}
.conA .subtitle {
  width: 75rem;
  margin: auto;
}
.conA h2 {
  color: var(--black);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3.75rem;
}
.conA h2:nth-child(2) {
  width: 11.25rem;
  height: 3.75rem;
  background-color: var(--main-color);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
}
.conA h2:nth-child(3) {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 5rem;
}
.conA .containerA {
  width: 93.25rem;
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
  position: relative;
  left: -9.125rem;
}
.conA .containerA div {
  width: 22.5rem;
  height: 22.5rem;
  border-radius: 3.125rem;
}
.conA .containerA .photo1 {
  background-image: url(./이미지/롯데월드\ 사진1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  width: 22.5rem;
  height: 22.5rem;
}
.conA .containerA .photo2 {
  background-image: url(./이미지/롯데월드.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.conA .containerA .photo3 {
  background-image: url(./이미지/롯데월드\ 사진2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
.conA .containerA .button {
  text-align: center;
  border: 0.1875rem solid var(--main-color);
  padding: 1.5625rem 1.875rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  background-color: var(--white);
}
.conA .containerA .button:hover {
  background-color: var(--main-color);
}
.conA .containerA .button:hover img {
  filter: invert(96%) sepia(100%) saturate(1%) hue-rotate(6deg) brightness(105%)
    contrast(95%);
  z-index: 100;
}
.conA .subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.1875rem;
  width: 12.5rem;
  margin: auto;
  margin-bottom: 3.75rem;
}
.conA .subcontainer .subicon1 {
  width: 5rem;
  height: 1.5625rem;
  background-color: var(--main-color);
  border-radius: 1.5625rem;
}
.conA .subcontainer .subicon2 {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 1.5625rem;
  background-color: #d9d9d9;
}
.conA .textbox {
  margin-left: auto;
  margin-right: auto;
  width: 75rem;
  height: 15rem;
}
.conA .textbox p {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--grey);
  line-height: 3rem;
  text-align: justify;
}
.conB {
  margin: auto;
  margin-bottom: 7.5rem;
  border-top: 0.1875rem solid var(--black);
  width: 75rem;
}
.conB .containerB {
  width: 75rem;
  height: 46.875rem;
  margin-top: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 9.375rem;
}
.conB .containerB .poster {
  background-image: url(./이미지/롯데월드\ 포스터.jpg);
  width: 31.25rem;
  height: 46.875rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3.125rem;
}
.conB .containerB .textbox {
  height: 38.75rem;
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}
.conB .containerB .textbox .notice {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3.75rem;
}
.conB .containerB .textbox .notice img {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}
.conB .containerB .textbox .notice h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}
.conB .button {
  background-color: var(--main-color);
  color: var(--white);
  width: 16.375rem;
  height: 5rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5625rem;
  font-size: 1.75rem;
  font-weight: 700;
  border-radius: 1.5625rem;
  border: none;
}
.conB .button:hover {
  background-color: var(--accent-color);
}
.conB .button img {
  width: 1.5625rem;
  height: 1.5625rem;
}
.conC {
  margin: auto;
  margin-bottom: 7.5rem;
  border-top: 0.1875rem solid var(--black);
  width: 75rem;
}
.conC .containerC {
  margin-top: 7.5rem;
}
.conC .containerC h2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--black);
}
.conC .containerC iframe {
  margin-top: 5rem;
}
.conD {
  margin: auto;
  margin-bottom: 12.5rem;
  border-top: 0.1875rem solid var(--black);
  width: 75rem;
}
.conD .containerD {
  margin-top: 7.5rem;
}
.conD .containerD h2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--black);
}
.conD .containerD .imgbox {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.conD .containerD .imgbox .textbox {
  width: 22.5rem;
  height: 22.5rem;
  border-radius: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--dark-overlay);
  opacity: 0;
}
.conD .containerD .imgbox .textbox:hover {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.conD .containerD .imgbox .textbox h3 {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  color: var(--white);
}
.conD .containerD .imgbox .textbox p {
  font-size: 1.3125rem;
  font-weight: 300;
  line-height: 1.75rem;
  text-align: center;
  color: var(--white);
}
.conD .containerD .imgbox .photo1 {
  background-image: url(./이미지/석촌루미나리에.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 22.5rem;
  height: 22.5rem;
  border-radius: 3.125rem;
  position: relative;
  top: 0;
  left: 0;
}
.conD .containerD .imgbox .photo2 {
  background-image: url(./이미지/관악별빛산책.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 22.5rem;
  height: 22.5rem;
  border-radius: 3.125rem;
}
.conD .containerD .imgbox .photo3 {
  background-image: url(./이미지/불꽃축제.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 22.5rem;
  height: 22.5rem;
  border-radius: 3.125rem;
}
.footbar {
  width: 75rem;
  height: 17.125rem;
  background-color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  padding: 3.125rem 9.375rem;
  border-top-right-radius: 3.125rem;
  border-top-left-radius: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5625rem;
}
.footbar .foot {
  display: flex;
  flex-direction: row;
  gap: 1.5625rem;
  color: var(--white);
  font-size: 1rem;
  position: relative;
  top: 0;
  left: 0;
}
.footbar .foot b {
  font-weight: 500;
}
.footbar .foot a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
}
.footbar .foot h4 {
  font-size: 0.9375rem;
  font-weight: 500;
  background-color: var(--accent-color);
  padding: 0.75rem 2.625rem 0.75rem 1.25rem;
  border-bottom-left-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
}
.footbar .foot .footnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.125rem;
  color: var(--black);
  background-color: var(--white);
  border-radius: 1.25rem;
  padding: 0.75rem 3.5625rem 0.75rem 3.625rem;
  position: absolute;
  left: 10.1875rem;
}
.footbar .foot .footnav p {
  font-size: 0.9375rem;
  font-weight: 500;
}
